{% extends "emails/base_email.html" %}

{% block title %}Restablece tu contraseña en JobFlex{% endblock %}

{% block preheader %}Usa el enlace que aparece a continuación para restablecer tu contraseña.{% endblock %}

{% block content %}
    <h2>Restablecimiento de Contraseña</h2>
    <p>Hola,</p>
    <p>Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta en JobFlex.</p>
    <p>Por favor, haga clic en el botón de abajo para ir a la página y escoger una nueva contraseña.</p>
    
    <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td align="center" class="button-container">
                {% autoescape off %}
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="button" target="_blank">Restablecer Contraseña</a>
                {% endautoescape %}
            </td>
        </tr>
    </table>

    <p>En caso de que lo haya olvidado, su nombre de usuario es: <strong>{{ user.get_username }}</strong></p>
    <p>¡Gracias por usar nuestro sitio!</p>
    <p>— El equipo de JobFlex</p>
{% endblock %}
