{% if recent_notifications %}
    {% for notification in recent_notifications %}
        <a href="{{ notification.link }}" class="block px-4 py-2 text-sm {% if not notification.is_read %}font-semibold bg-blue-50{% endif %} text-dark hover:bg-gray-100">
            <p>{{ notification.message }}</p>
            <p class="text-xs text-gray-500">{{ notification.timestamp|date:"d M Y H:i" }}</p>
        </a>
    {% endfor %}
    <div class="border-t border-gray-200 my-1"></div>
    <div class="flex items-center justify-around py-1">
        <form action="{% url 'mark_all_as_read' %}" method="post" class="flex-1">
            {% csrf_token %}
            <button type="submit" class="block w-full text-center px-2 py-1 text-xs text-secondary hover:bg-gray-100 rounded-md">Marcar como leídas</button>
        </form>
        <form action="{% url 'delete_all_notifications' %}" method="post" class="flex-1" onsubmit="return confirm('¿Seguro que quieres limpiar todas las notificaciones?');">
            {% csrf_token %}
            <button type="submit" class="block w-full text-center px-2 py-1 text-xs text-red-500 hover:bg-gray-100 rounded-md">Limpiar Todas</button>
        </form>
    </div>
{% else %}
    <p class="block px-4 py-2 text-sm text-gray-500 text-center">No tienes notificaciones.</p>
{% endif %}
