{% for ofertas in page_obj %}
	<div class="job-card cursor-pointer p-4 border-b border-l-4 border-l-primary bg-gray-50"
		data-job-id="{{ ofertas.id_oferta|add:0 }}">
		<div class="non-select flex items-center"><img src="{{ofertas.empresa.imagen_perfil}}"
				class="w-12 h-12 rounded-md mr-4">
			<div class="flex-grow">
				<h3 class="non-select font-bold text-primary">{{ ofertas.titulo_puesto }}</h3>
				<p class="non-select text-sm text-dark font-semibold">{{ ofertas.empresa }}</p>
				<p class="non-select text-sm text-secondary">{{ofertas.modalidad }}</p>
			</div>
		</div>
	</div>
{% empty %}
	<p>No se encontraron Ofertas</p>
{% endfor %}
<div class="flex justify-center items-center mt-2 pr-2">
	<div class="pagination">
		{% if page_obj.has_previous %}
			<a class="rounded-lg bg-gray-200 px-2 py-1 text-gray-500 hover:text-gray-700 focus:outline-none non-select" href="?q={{search.q}}&mode={{search.mode}}&location={{search.location}}&time={{search.time}}&page=1">&laquo; first</a>
			<a class="rounded-lg bg-gray-200 px-2 py-1 text-gray-500 hover:text-gray-700 focus:outline-none non-select" href="?q={{search.q}}&mode={{search.mode}}&location={{search.location}}&time={{search.time}}&page={{ page_obj.previous_page_number }}">previous</a>
		{% else %}
			<button disabled class="rounded-lg bg-gray-200 px-2 py-1 text-gray-500 focus:outline-none non-select">&laquo;</button>
		{% endif %}
	
		<span class="non-select">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
	
		{% if page_obj.has_next %}
			<a class="rounded-lg bg-gray-200 px-2 py-1 text-gray-500 hover:text-gray-700 focus:outline-none non-select" href="?q={{search.q}}&mode={{search.mode}}&location={{search.location}}&time={{search.time}}&page={{ page_obj.next_page_number }}">next</a>
			<a class="rounded-lg bg-gray-200 px-2 py-1 text-gray-500 hover:text-gray-700 focus:outline-none non-select" href="?q={{search.q}}&mode={{search.mode}}&location={{search.location}}&time={{search.time}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
		{% else %}
			<button disabled class="rounded-lg bg-gray-200 px-2 py-1 text-gray-500 focus:outline-none non-select">&raquo;</button>
		{% endif %}
	</div>
</div>